SANITY_PROJECT_ID=npynfyx8
SANITY_DATASET=production
SANITY_API_VERSION=2026-05-25
SANITY_USE_CDN=true

# Server-side only. Do not expose this in browser code.
SANITY_API_WRITE_TOKEN=your_sanity_write_token_here
